* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 24px;
}

.card {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ccc;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

.super-border {
    border: 3px red solid;
}
