.btn-container {
    display: flex;
    justify-content: space-between;
}

.btn {
    height: 50px;
    background-color: #ff8400;
    border: 0;
    border-radius: 4px;
    padding: 0 20px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    width: 250px;
}

.btn:hover {
    background-color: #ff9933;
}

.btn-right {
    margin-left: 10px;
}

.btn-left {
    margin-right: 10px;
}
