@import 'modal.css';
@import 'buttons.css';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    background-color: #000;
}

.nav-container {
    height: 80px;
    background-color: #ff8400;
    width: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
}

.nav-main {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-main h1 {
    color: #fff;
    font-size: 36px;
}

.contact-link {
    color: #fff;
    cursor: pointer;
}

.form-container {
    width: 100%;
    padding: 40px 20px;
}

.card-form {
    background-color: #333;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 8px;
    padding: 20px;
}

.form-control {
    margin-bottom: 20px;
}

.form-control label {
    display: none;
}

.error-message {
    margin-top: 5px;
    color: #faa;
}

.form-input {
    height: 50px;
    width: 100%;
    border-radius: 4px;
    padding: 0 20px;
    font-size: 14px;
    border: 0;
}

.form-input::placeholder {
    color: #C9C9C9;
}

.form-input:disabled {
    background-color: #ddd;
}

.list-container {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-list-item {
    background-color: #333;
    color: #fff;
    margin-bottom: 20px;
    width: 100%;
    max-width: 900px;
    border-radius: 8px;
    padding: 20px;
}

.card-list-item h3 {
    color: #ff8400;
    font-size: 18px;
}

.address-line {
    color: #fff;
    font-size: 14px;
}

.address-cep {
    color: #8f8f8f;
    font-size: 12px;
}