* {
    box-sizing: border-box;
    font-size: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

input, button {
    height: 40px;
    margin-bottom: 20px;
}

.input-error {
    border: 2px #f00 solid;
    background-color: #fdd;
}
